:root {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.deleteModalAlertContent{
    width: 40%;
    position: absolute;
    top: 10%;
    left: 30%;
    background: #fff;

    .areYouSureText{
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 17px;
        color: #313131;
        background: #d11a2a;
        color: #fff;
        margin: 0;
        padding: 20px 10px;
        border-radius: 10px 10px 0 0;
    }

    .deleteDiscardBtn{
        padding: 30px 20px;
        border-radius: 0 0 10px 10px;
        // background: green;
        display: flex;
        justify-content: center;

        box-shadow: #d11a2957 0 0px 10px;

        button{
            margin: 0 5%;
            outline: none;
            border: none;
            padding: 10px 15px;
            font-size: 14px;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 700;
            border-radius: 100px;
        }

        .deleteBtn{
            background: #d11a2a;
            color: #fff;
        }
        .deleteBtn:hover{
            transform: scale(1.04, 1.04);
            box-shadow: #808080 1px 1px 5px;

        }

        
        .discardBtn{
            background: #fff;
            color: #007cf0;
            border: 1px solid #007cf0 ;
        }

        .discardBtn:hover{
            box-shadow: #808080 1px 1px 5px;

        }
    }

}
